# lint and pyflakes scripts
lc
pf


Todo.txt

TestResults/

LinkCheckerProcessWrapper/azureStorageCreds.py

TestWebApplication/obj/*

WebFrontEnd/obj/*

StyleCop.Cache

packages/

# VS Python performance testing related files
*.pyperf
